@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #2d2d2c;
    position: relative;
    height: 100vh;
}

.section {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    
}

.section.active {
    display: block;
}

.center-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.center-content .content {
    display: block;
    margin: 0px auto;
}

.loader {
    max-width: 33vw;
}

.card {
    background-color: #f0f0f0;
    width: 350px;
    max-width: 90vw;
    border-radius: 5px;
    padding: 5% 10%;
}

.card h2 {
    text-align: center;
    margin: 0;
}

.card hr {
    border-bottom: 1px solid #ddd;
}

input {
    display: block;
    height: 50px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #fff;
    border: none;
}

.click-to-continue {
    cursor: pointer;
}

.btn-main {
    background-color: #f5b60a;
    color: 
}

#password {
    background: #fff url(../img/icons/info.png) no-repeat 97% 50%;
}

#name {
    background: #fff url(../img/icons/user.png) no-repeat 97% 50%;
}

div.header {
    height: 40px;
    background-color: #f5b60a;
    width: 100%;
    padding: 4px 10px
}

div.menu-button {
    height: 32px;
    width: 32px;
    border: #444 solid 1px;
    border-radius: 5px;
    padding-top: 3px;
    background-color: #dca409;
}

div.menu-button .menu-bar {
    margin: 3px auto;
    height: 4px;
    width: 80%;
    background-color: #444;
}

ul.menu {
    list-style: none;
    padding-left: 0;
}

ul.menu li {
    height: 40px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #f0f0f0;
    border-bottom: #2c2c2c solid 1px;
}

#line .line {
    width: 20px;
    height: calc(90vh - 80px);
    background-color: #fff;
    position: relative;
    left: -10vw;
}

#line .stage {
    display: block;
    height: 20%;  
    width: 100%;
    position: relative;
    background-color: #ecf0f1;
}

.stage .stage-marker {
    height: 30px;
    width: 30px;
    position: absolute;
    top: -15px;
    left: -5px;
    border-radius: 50%;
    z-index: 2;
    background-color: #ecf0f1;
    border: #2c2c2c solid 1px;
}

.stage .end-marker {
    top: inherit;
    bottom: -15px;
}

.stage.done:before {
    position: absolute;
    left: 5px;
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    background-color: #2ecc71;
}

.stage.done .stage-marker {
    border: none;
}

.stage .stage-marker.active {
    border-top: none;
}

.stage .stage-marker.active:before {
    content: "";    
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #2ecc71;
}

.stage.done:not(.first) .stage-marker:after, .stage.done:not(.first) .stage-marker.active:after {
    border: none;
    position: absolute;
    left: 10px;
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    background-color: #2ecc71;
    z-index: 3;
}

.stage.first.done .stage-marker:after {    
    position: absolute;
    left: 10px;
    content: "";
    display: block;
    width: 10px;
    height: 50%;
    bottom: 0;
    background-color: #2ecc71;
    z-index: 3;
    
}

.stage:not(.done) .stage-marker.active:after {
    position: absolute;
    left: 9px;
    content: "";
    display: block;
    width: 10px;
    height: 50%;
    background-color: #2ecc71;
    z-index: 3;
    
}

.stage:not(.done) .stage-marker.active:before {
    content: "";    
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 4px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #2ecc71;
}

.stage-marker h4 {
    color: #fff;
    position: absolute;
    left: 40px;
    top: -50%;
}

.meta {
    padding: 10px;
    color: #fff;
}

.meta h2 {
    font-size: 30px;
}

.meta li {
    font-size: 20px;
}

.menu-button span {
    font-size: 20px;
    margin-left: 4px;
}

.center-stuff {
    text-align: center;
}

.center-stuff > * {
    text-align: center;
}

.meta p {
    font-size: 22px;
    margin: 30px 0;
}

.meta span {
    font-size: 20px;
    margin: 10px;
}

hr.subtle {
    border: #444 solid 1px !important;
}


ul.menu li.click-to-continue, .stage-marker.click-to-continue, .stage-marker.click-to-continue:before, .stage-marker.click-to-continue:after {
 -webkit-animation: clickable-menu 1s alternate infinite; /* Safari 4+ */
  -moz-animation:    clickable-menu 1s alternate infinite; /* Fx 5+ */
  -o-animation:      clickable-menu 1s alternate infinite; /* Opera 12+ */
  animation:         clickable-menu 1s alternate infinite; /* IE 10+, Fx 29+ */
    
}

.menu-button.click-to-continue, button.click-to-continue {
 -webkit-animation: clickable-button 2s alternate infinite; /* Safari 4+ */
  -moz-animation:    clickable-button 2s alternate infinite; /* Fx 5+ */
  -o-animation:      clickable-button 2s alternate infinite; /* Opera 12+ */
  animation:         clickable-button 2s alternate infinite; /* IE 10+, Fx 29+ */   
    
}

ul:not(.menu) li.click-to-continue {
 -webkit-animation: clickable-menu-text 1s alternate infinite; /* Safari 4+ */
  -moz-animation:    clickable-menu-text 1s alternate infinite; /* Fx 5+ */
  -o-animation:      clickable-menu-text 1s alternate infinite; /* Opera 12+ */
  animation:         clickable-menu-text 1s alternate infinite; /* IE 10+, Fx 29+ */
    
}

@-webkit-keyframes clickable-menu {
    100% {
        background-color: #7dbde8;
    }
}

@-webkit-keyframes clickable-button {
    60% {
        background-color: #f5b60a;
    }
    
    100% {
        background-color: #7dbde8;
    }
}

@-webkit-keyframes clickable-menu-text {
    100% {
        color: #7dbde8;
    }
}